.App {
  text-align: center;
}
button {
  background-color: rgba(255, 255, 0, 0);
  border: transparent;
  font-size: inherit;
}

.question-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.about * {
  font-size: "600";
  font-family: "Comic Sans", "Gill Sans", "Gill Sans MT", Calibri;
}

#catbox {
  font-size: small;
  font-family: "Comic Sans", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: rgb(238, 210, 31);
  position: absolute;
  position-anchor: --center;
  bottom: anchor(top);
  left: anchor(left);
  transform: rotate(-24deg) translate(24rem, 2rem);
}
#catfact {
  transform: scale(1);
  animation: bounce 2s alternate infinite linear;
}



@media (prefers-reduced-motion: no-preference) {

  .question-logo {
    animation: App-logo-wiggle infinite 5s alternate;
  }
  @keyframes bounce {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes App-logo-wiggle {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
}
